// app global css in SCSS form
@import 'quasar.variables';

@font-face {
  font-family: Lato;
  src: url('../assets/fonts/lato-medium.woff');
}

.header-links {
  opacity: 0.8;
}
.header-links:hover {
  opacity: 1;
}