// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #069550;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;
$border: #e8e8e8;
$grey: #616161;
$white: #ffffff;
$bgresno: #c2e7b9;
$bgcard: #0985BA;
$blue: #0660A1;
$desc: #808080;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$primary-rgb: rgb(6, 149, 80);
$secondary-rgb: rgb(38, 166, 154);
$accent-rgb: rgb(156, 39, 176);
$dark-rgb: rgb(29, 29, 29);
$positive-rgb: rgb(33, 186, 69);
$negative-rgb: rgb(193, 0, 21);
$info-rgb: rgb(49, 204, 236);
$warning-rgb: rgb(242, 192, 55);
